.container {
    display: flex;
    justify-content: center;
    padding: 16px;
  }
  
  mat-card {
    width: 100%;
    max-width: 600px; /* El ancho máximo del formulario */
    margin: 0 auto;
  }
  
  .responsive-form {
    display: flex;
    flex-direction: column;
    gap: 16px; /* Espacio entre los elementos */
  }
  
  .form-row {
    width: 100%;
  }
  
  .form-field {
    width: 100%; /* Para que ocupen todo el ancho */
  }
  
  .send-button {
    align-self: flex-end; /* Botón alineado a la derecha */
  }
  
  @media (max-width: 600px) {
    mat-card {
      max-width: 100%; /* Usar todo el ancho en pantallas pequeñas */
    }
  
    .send-button {
      align-self: center; /* Centrar el botón en pantallas pequeñas */
    }
  }
  